# **Hands-on Lab : Web Scraping**

## Objectives

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
# Your code here
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd

Download the webpage at the url

In [3]:
#your code goes here
data = requests.get(url).text

Create a soup object

In [4]:
#your code goes here
soup=BeautifulSoup(data, "html5lib")

In [6]:
table = soup.find('table')

Scrape the `Language name` and `annual average salary`.

In [7]:
#your code goes here
def get_data(table):
    language_salary_list = []
    for row in table.find_all('tr'):
        cols=row.find_all('td')
        language_name = cols[1].getText()
        annual_average_salary = cols[3].getText()
    #     print("{}:{}".format(language_name, annual_average_salary))
        language_salary_list.append([language_name, annual_average_salary])
    language_salary_list.remove(['Language', 'Average Annual Salary'])
    return language_salary_list

data=get_data(table)

Save the scrapped data into a file named *popular-languages.csv*

In [8]:
# your code goes here
df_data = pd.DataFrame(data, columns=['Language', 'Average Annual Salary'])
df_data
# df_data.to_csv('popular-languages.csv', index=False)

     Language Average Annual Salary
0      Python              $114,383
1        Java              $101,013
2           R               $92,037
3  Javascript              $110,981
4       Swift              $130,801
5         C++              $113,865
6          C#               $88,726
7         PHP               $84,727
8         SQL               $84,793
9          Go               $94,082